[Desktop Entry]
Type=Application
Name=desktop-gremlin-linux Manager
Icon=~/.local/share/desktop-gremlin-linux/icon.xpm
Exec=/usr/local/bin/degrli-manager
Comment=Launch and Control Your Desktop Gremlin
Categories=Utility;
Terminal=false
